[safe]
	directory = /storage/emulated/0/DCIM/V
	directory = /storage/emulated/0/DCIM/V9
	directory = /storage/emulated/0/DCIM/V9
	directory = /storage/emulated/0/V9
	directory = /storage/emulated/0/V9
	directory = /storage/emulated/0/DCIM/V9
[user]
	email = botznans@gmail.com
	name = botz-nans
